---
layout: skeleton.liquid
tags: navbar
order: 0
title: Home
---

<body class="bg-orange-50 dark:bg-orange-950 lg:bg-white lg:dark:bg-black lg:bg-gradient-to-r dark:from-red-950/50 dark:via-orange-950 dark:to-red-950/50 min-h-full from-red-100/50 via-orange-100 to-red-100/50">

  <header id="home-header">
    <nav class="z-50 bg-transparent border border-transparent mt-3 mx-3 rounded-lg top-3 sticky mb-6">
      <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-2">
        <!-- left side of navbar - my name-->
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse text-2xl font-semibold dark:text-white">
          Siddhant Kameswar
        </a>
        <button type="button" id="navbar-toggle" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-700 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-200 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <!-- pages -->
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50/50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800/50 md:dark:bg-transparent dark:border-gray-700">
            {% for navbarPage in collections.navbarSorted %}
              {% if navbarPage.url != "/" %}
                <li>
                  <a
                    href="{{ navbarPage.url }}" 
                    class="block py-2 px-3 rounded md:p-0 dark:text-white text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:dark:hover:text-primary-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  >
                    {{ navbarPage.data.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
    
  <section class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:px-12 flex h-screen items-center justify-center flex-col home-section">
    <p
      class="mb-12 text-2xl font-medium text-gray-900 dark:text-white">
      I'm <span class="md:text-4xl font-bold text-transparent bg-gradient-to-r from-orange-900 to-rose-900 dark:from-orange-200 dark:to-rose-200 bg-clip-text text-nowrap inline-block">Siddhant Kameswar</span>, a <span class="decoration-wavy decoration-2 decoration-orange-900 dark:decoration-orange-200 underline-offset-8 underline">self-motivated high school student</span>.
    </p>
    <p class="mb-6 text-lg text-gray-900 dark:text-white">
      I've built complex <a class="font-bold hover:underline" href="/projects/?c=web-development">web applications</a> and <a class="font-bold hover:underline" href="/projects/?c=browser-extension-development">browser extensions</a>, developed countless <a href="/projects/?c=android-app-development" class="font-bold hover:underline">mobile apps</a>, and worked with <a class="font-bold hover:underline" href="/projects/?c=electronics-and-IOT">embedded systems and IOT</a>, just to name a few things.
    </p>
    <p class="mb-6 text-lg font-bold text-gray-900 dark:text-white">
      View some of my best projects below:
    </p>
    <button
      class="text-orange-500 bg-orange-200/25 border border-orange-500 hover:bg-orange-200 focus:outline-none rounded-full inline-flex items-center dark:bg-orange-900/25 dark:hover:bg-orange-900 p-2.5 animate-bounce">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
      </svg>
    </button>
    
    <p class="mb-12 text-2xl font-medium fixed top-20 text-center md:text-start text-gray-900 dark:text-gray-100 inline-flex justify-center items-center gap-3 flex-wrap z-40 bg-white/[.01] backdrop-blur p-3 rounded" id="home-i-am">
      I've worked with
      <span
        class="md:text-4xl font-bold text-nowrap relative inline-block" id="home-i-am-name">
        <span>web applications</span>
        <span>native desktop applications</span>
        <span>mobile apps</span>
        <span>networks and linux systems</span>
        <!-- dictates sizing of the box -->
        <span class="invisible">native desktop applications</span>
      </span>
    </p>
  </section>

  {% for sec in sections %}
    {% for project in sec.projects %}
      <section class="flex h-screen items-center justify-center flex-col home-section">
        <div
          class="animate-enter-exit max-w-lg p-6 border rounded-lg bg-orange-100/50 border-orange-200 dark:bg-orange-900/25 dark:border-orange-800/50 shadow-lg shadow-orange-200 dark:shadow-orange-950/50 mb-6">
          
          {% if project.image %}
            <img class="lightbox rounded-lg shadow-xl dark:shadow-gray-800 mb-3 border-2 border-gray-500 max-h-96" src="{{ project.image }}" alt="project screenshot" />
          {% endif  %}
          
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ project.name }}</h5>
          <p class="font-normal text-gray-900 dark:text-gray-200 mb-5">{{ project.description | truncate: 100 }}</p>
        </div>
        
        {% if forloop.last %}
          <a class="block text-lg text-orange-700 dark:text-orange-300 hover:text-orange-800 dark:hover:text-orange-200 hover:underline animate-enter-exit mb-3"
             href="/projects/?c={{ sec.cat }}">
            View all projects ->
          </a>
        {% endif %}
      </section>
    {% endfor %}
  {% endfor %}
  
  <footer
    class="rounded-lg shadow m-4 bg-white/95 backdrop-blur dark:bg-transparent supports-[backdrop-filter]:bg-orange-100/60 dark:supports-[backdrop-filter]:bg-primary-900/40 border-gray-900/10 dark:border-gray-50/[0.06] border">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-200">© 2024 Siddhant Kameswar</span>
    </div>
  </footer>
  <script>
    document.getElementById("navbar-toggle").addEventListener("click", () => document.getElementById("navbar-default").classList.toggle("hidden"));
    document.addEventListener("click", e => {
      if (e.target.classList?.contains("lightbox")) {
        e.target.requestFullscreen();
      }
    });
  </script>
</body>
